<h1>Add New Part</h1>
<form method="POST">
    {{#if error}}
    <p class="error">All Fields Are Required!</p>
    {{/if}}
    <label {{#if error.name}}class="error"{{/if}}> Name: <input name="name" value="{{name}}"></label>
    <label {{#if error.price}}class="error"{{/if}}>Price: <input type="number" name="price" step="0.01" value="{{price}}"></label>
    <label {{#if error.description}}class="error"{{/if}}>Description: <input name="description" value="{{description}}"></label>
    <button>Publish</button>
</form>